%ul.books.box
- @books.each do |book|
  .row.book
    %a.span1(href="")
      %img{src: book.image_url, width: 160, height: 160}
    .span2
      ノート数： 
      %span.badge.badge-success= book.notes.count
    .span9
      .title= link_to book.title, book
      %p= book.description
